<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/showdown@1.9/dist/showdown.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.18/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</head>

<body>


    <div class="container card">
        <div class="row">
            <ul class="nav nav-pills col-md-6">
                <li><a href="/">ilcyb</a></li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                        aria-expanded="false">
                        分类 <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu category" id="category">

                        <li v-for="(item, index) in items" :key="index">
                            <a :href="'/category/' + item.id">
                                {{ item.name }}
                            </a>
                    </ul>
                </li>
                <li><a href="#">归档</a></li>
                <li><a href="#">关于</a></li>
            </ul>
        </div>
    </div>

    <div class="container blog-main">
        <div class="col-md-9 blog-main-left">
            <div id="post-intro">
                <div class="post card container-fluid" v-for="post in posts">
                    <div class="row">
                        <a href="#" class="col-md-12 post-title">{{ post.title }}</a>
                    </div>
                    <div class="row">
                        <div class="col-md-12 post-time">
                            <p>{{ post.time }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 post-intro">
                            <div v-html="post.content"></div>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="container-fluid pagi">
                    <a href="#"><</a> 
                    <a href="#">></a>
            </div>
        </div>

        <div class="col-md-3 container blog-main-right">
            <div class="about-me-simple card container-fluid" id="about-me">
                <div v-html="describetion"></div>
            </div>
        </div>
    </div>

</body>

<script>
    var base_url = "http://ilcyb.local";
    var converter = new showdown.Converter({
        parseImgDimensions: true
    });
    var category_list = new Vue({
        el: "#category",
        data: {
            items: [{
                    id: 1,
                    name: "编程"
                },
                {
                    id: 2,
                    name: "生活"
                },
                {
                    id: 3,
                    name: "读书"
                },
                {
                    id: 4,
                    name: "电影"
                },
            ]
        }
    });

    var post_introductions = new Vue({
        el: "#post-intro",
        data: {
            posts: []
        },
        created: function () {
            this.getPosts();
        },
        methods: {
            convertMarkdown2Html: function (markdown) {
                html = converter.makeHtml(markdown);
                console.log(html);
                return html;
            },
            getPosts: function (page) {
                axios.get(base_url + "/blog/api/posts", {
                        params: {
                            page: page
                        }
                    })
                    .then(res => {
                        for (let i = 0; i < res['data']['datas'].length; i++) {
                            res['data']['datas'][i].content = this.convertMarkdown2Html(res['data'][
                                'datas'
                            ][i].content);
                        }
                        this.posts = res['data']['datas'];
                    })
                    .catch(err => {
                        // TODO alert
                    })
            }
        },
    });

    var abot_me = new Vue({
        el: "#about-me",
        data: {
            describetion: ''
        },
        created: function () {
            this.getDescribetion();
        },
        methods: {
            getDescribetion: function () {
                axios.get(base_url + "/blog/api/about/simple")
                    .then(res => {
                        if (res['data']['parse_type'] == 'markdown') {
                            this.describetion = converter.makeHtml(res['data']['describetion']);
                        } else if (res['data']['parse_type'] == 'html') {
                            this.describetion = res['data']['describetion'];
                        }
                    })
                    .catch(err => {
                        // TODO alert
                    })
            }
        }
    })
</script>

</html>