.post{
    margin-top: 10%;
}

.post-info{
    font-size: 20px;
    font-weight: 500;
    color: #999;
}

.post-content{
    margin-top: 5%;
}

.post-side{
    margin-top: 15%;
    margin-left: 5%;
}

.hotest-post a{
    display: block;
    font-size: 20px;
}