{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}"> 
{% endblock %} 

{% block title %}首页{% endblock %} 

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 blog-main">
            {% for post in posts %}
            <div class="blog-post">
                <h1>
                    <a class="post-title" href="{{url_for('blog.detailPost', postId=post.id)}}">
                        {{ post.title }}
                    </a>
                </h1>
                <div class="post-info">
                    <span>发布时间：{{ post.time }}</span>&nbsp;&nbsp;&nbsp;
                    <span>分类：{{ post.category }}</span>&nbsp;&nbsp;&nbsp;
                    <span>点击量：{{ post.views }}</span>&nbsp;&nbsp;&nbsp;
                </div>
                <div class="post-desc">
                    <p>
                        {{ post.desc|markdown }}
                    </p>
                </div>
                <div class="post-more">
                    <a href="{{url_for('blog.detailPost', postId=post.id)}}">查看原文</a>
                </div>
                <hr>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}